body{
    background-color: rgb(181, 177, 177);
} 


.caja {
    background-color: white;
    border-bottom: outset;
    border-right: outset;
    border-width: 1px;
    border-radius: 5px;
}

.contenido {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.cabecera {
    padding: 10px;
    border-bottom: solid 1px rgb(196, 192, 192);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(104, 165, 13);
}

.footer {
    padding: 10px;
    border-top: solid 1px rgb(196, 192, 192);
    text-align: right;
}

.accept {
    background-color: rgb(24, 165, 231);
    border: 0px;
    color: aliceblue;
    padding: 8px;
}

.cancel {
    background-color: rgb(207, 24, 24);
    border: 0px;
    color: aliceblue;
    padding: 8px;
    
}